{% extends 'base.html' %}
{% block content %}
<h1 style="margin: 4rem 3rem 1rem;">Project Comentor</h1>
<div class="row row-cols-1 row-cols-md-3 g-10" style="overflow-x: auto; flex-wrap: nowrap; padding-left: 3rem;">
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;padding: 1.5rem;">
            <div class="row g-0">
              <div class="col-md-6" ;">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                      <h5 class="card-title">Project</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">nama_project</h6>
                      <p class="card-text">Estimasi</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title">Harga project</h5>
                  <p class="card-text">Angota tim</p>
                  <p class="card-text">status</p>
                  <p class="card-text"><small class="text-body-secondary">diedit tanggal</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;padding: 1.5rem;">
            <div class="row g-0">
              <div class="col-md-6" ;">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                      <h5 class="card-title">Project</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">nama_project</h6>
                      <p class="card-text">Estimasi</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title">Harga project</h5>
                  <p class="card-text">Angota tim</p>
                  <p class="card-text">status</p>
                  <p class="card-text"><small class="text-body-secondary">diedit tanggal</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;padding: 1.5rem;">
            <div class="row g-0">
              <div class="col-md-6" ;">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                      <h5 class="card-title">Project</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">nama_project</h6>
                      <p class="card-text">Estimasi</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title">Harga project</h5>
                  <p class="card-text">Angota tim</p>
                  <p class="card-text">status</p>
                  <p class="card-text"><small class="text-body-secondary">diedit tanggal</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;padding: 1.5rem;">
            <div class="row g-0">
              <div class="col-md-6" ;">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                      <h5 class="card-title">Project</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">nama_project</h6>
                      <p class="card-text">Estimasi</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title">Harga project</h5>
                  <p class="card-text">Angota tim</p>
                  <p class="card-text">status</p>
                  <p class="card-text"><small class="text-body-secondary">diedit tanggal</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;padding: 1.5rem;">
            <div class="row g-0">
              <div class="col-md-6" ;">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                      <h5 class="card-title">Project</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">nama_project</h6>
                      <p class="card-text">Estimasi</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title">Harga project</h5>
                  <p class="card-text">Angota tim</p>
                  <p class="card-text">status</p>
                  <p class="card-text"><small class="text-body-secondary">diedit tanggal</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>


{% endblock %}